/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #EB8832;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.logo .da {
  color: white;
  font-size:80px;
}

.logo .roca {
  color: #3A5D41;
  font-size:80px;
}

.slogan {
  font-size: 14px;
  font-weight: bold;
  flex: 1;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Lado direito */
.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-cart {
  border-radius: 50px;
  border: none;
  width: 45px;
  height: 45px;
}

.btn-cart > img {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

.btn-cart:hover {
  background-color: #489A71;
}

.btn-login {
  border: none;
  border-radius: 30px;
  background-color: #489A71;
  color: white;
  padding: 15px 40px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 40px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: white;
  color: #489A71;
}

/* Menu inferior */
.menu {
  background-color: #3A5D41;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 85px;
  width: 100%;
  text-align: center;
  border-right: 1px solid white;
}

.menu a:last-child {
  border-right: none;
}

.menu a:hover {
  background-color: #344e41;
}


/* Carrossel */
.carrossel {
  position: relative;
  width: 100%; 
  height: 800px;            
  overflow: hidden;
  
}

.carrosselImagens {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
  
}

.carrosselImagens img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;        /* mantém proporção, preenche o espaço sem distorcer */
  flex-shrink: 0; 

}

/* Página do meio */
.mid-page {
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.section {
  display: flex;
  align-items: center;
  flex: auto;
  padding: 30px;
  height: 300px;
}

.text-box {
  font-family: sans-serif;
  margin: 90px;
}

.text-box p {
  font-size: 20px;
}

.text-box h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.orange h3 {
  text-align: right;
}

.green {
  background-color: #BFDCCD;
  border-radius: 120px 0 0 120px;  
}

.orange {
  background-color: #F5C296;
  border-radius: 0 150px 150px 0;  
}

.image-box img {
  width: 350px;
  height: auto;
  margin: 75px;
}

