* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #EB8832;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo .da {
  color: white;
}

.logo .roca {
  color: #3A5D41;

}

.slogan {
  font-size: 14px, bold;
  flex: 1;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Lado direito */
.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-icon {
  width: 35px;
  height: 35px;
}

.btn-cart {
  background-color: whitesmoke;
  border-radius: 30px;
  border: none;
  padding: 5px;
}

.btn-login {
  /* Botão entrar */
  background-color: #5FA783;
  /* verde */
  color: white;
  border: none;
  padding: 6px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #344e41;
}

/* Menu inferior que tem os botões*/
.menu {
  background-color: #3A5D41;
  /* verde escuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 85px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border-right: white 1px solid;
}

.menu a:last-child {
  border-right: none;
}

.menu a:hover {
  background-color: #344e41;
}

#carrossel>img {
  width: 100%;
  height: 500px;
}

.mid-page {
  padding: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #EB8832;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo .da {
  color: white;
}

.logo .roca {
  color: #3A5D41;

}

.slogan {
  font-size: 14px, bold;
  flex: 1;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Lado direito */
.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-icon {
  width: 35px;
  height: 35px;
}

.btn-cart {
  background-color: whitesmoke;
  border-radius: 30px;
  border: none;
  padding: 5px;
}

.btn-cart:hover {
  background-color: rgb(190, 190, 190);
}

.btn-login {
  /* Botão entrar */
  background-color: #5FA783;
  /* verde */
  color: white;
  border: none;
  padding: 20px 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #344e41;
}

/* Menu inferior que tem os botões*/
.menu {
  background-color: #3A5D41;
  /* verde escuro */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 85px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border-right: white 1px solid;
}

.menu a:last-child {
  border-right: none;
}

.menu a:hover {
  background-color: #344e41;
}

#carrossel>img {
  width: 100%;
  height: 500px;
  padding-bottom: 50px;
}

.mid-page {
  padding: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre imagem e texto */
  margin-bottom: 50px;
}

.section {
  display: flex;
  align-items: center;
  flex: auto;
  padding: 30px;
  height: 300px;
}

.text-box{
  font-family: sans-serif;
  margin: 90px;
}

.text-box p{
  font-size: 20px;
}

.text-box h3{
  font-size: 30px;
  margin-bottom: 30px;
}

.orange  h3{
  text-align: right;
}

.green {
  background-color: #c2e7e3;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
 
}

.orange {
  background-color: #f3c3a2; 
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.image-box img {
  width: 350px;
  height: auto;
}

.baseboard{
  background-color: #3A5D41;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.baseboard p{
  font-size: 20px;
  font-family: sans-serif;
  color: whitesmoke;
}

.baseboard a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 85px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}