@font-face {
    font-family: 'League Gothic';
    src: url('caminho/para/league-gothic.woff2') format('woff2'),
        url('caminho/para/league-gothic.woff') format('woff'),
        url('caminho/para/league-gothic.ttf') format('truetype');
    font-style: normal;
}


body{
    margin:0px;
}

/* abaixo está tudo sobre os botoes das categorias */

.botao-categorias {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}

.botao-categorias > img {
    width: 200px;
    height: 200px;
}

.titulo {
    position: absolute;
    top: 160px; /* distância do topo */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: black; 
}
#categorias{
    display: flex;
    gap: 30px
}
.botao-categorias >img:hover {
    transform: scale(1.05);
}

/* abaixo está tudo sobre o cabecalho */

#cabecalho{
    display: flex;
    justify-content: space-between;
    background-color:#3A5D41;
    height: 120px
}

#branco{
    font-family: 'League Gothic', sans-serif;
    font-size:60px;
    color:white;
}
#laranja{
    font-family: 'League Gothic', sans-serif;
    font-size:60px;
    color: #EB8832;
}

#pesquisa > input{
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 200px 5px 5px;
    width: 250px;

}
#pesquisa{
    display:flex;
    justify-content:center;
}
#lupa > img{
    width: 20px;
    height:20px;
    
}
#lupa{
    width: 60px;
    border: none;
    background-color: #489A71;
    border-radius: 0px 20px 20px 0px;
}

#menu {
    background-color: #EB8832;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 85px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border-right: white 1px solid;
} 
#menu a:hover {
    background-color: #ca6a16;
}

/* abaixo está todos as edições sobre os cards */

.caixa_com_imagem{
    background-color: #C7DC8C;
    border-radius: 10px 10px 0px 0px;
    padding: 30px;
    position: relative; /* necessário para o botão ficar dentro */
    display: flex;
    justify-content: center;
    align-items: center;

}
.conteudo{
    background-color: #EDEDED;
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* texto à esquerda, botão à direita */
    align-items: center;
}
.botao_adicionar{
    color: white;
    background-color: #3A5D41;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 30px 10px 0px 0px;
}
.cards{
    width: 290px;
    height: 290px;
    margin: 5px 0px 0px 0px;
}
.nome_produto{
    margin: 0px;
}
.informacoes_do_produto > p{
    font-weight: bold;
    color: #3A5D41;
    margin: 8px 0px 0px 0px;
}

