* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrinho {
  background-color: #e6e6e6;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerCarrinho {
  background-color: #30593d;
  color: white;
  padding: 15px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  text-align: center;
}

#headerCarrinho h1 {
  font-size: 20px;
  font-family: sans-serif;
}

#bodyCarrinho {
  padding: 20px;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 25px;
  overflow-y: auto;
}

.produtos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.produto {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.07);
  transition: transform .15s ease;
}

.produto img {
  width: 55px;
  height: 55px;
  border-radius: 8px;
}

#total {
  background-color: #e6e6e6;
  padding: 5px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: right;
}
#total > hr{
  height: 5px;
  background-color: #EB8832;
  border: none;
}

#total h3 {
  color: #EB8832;
  font-size: 18px;
  font-family: sans-serif;
}


#buttonFinalizar {
  background-color: #44694c;
  color: white;
  border: none;
  padding: 20px 100px;
  border-radius: 8px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#buttonFinalizar:hover {
  background-color: #173521;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.info h4 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.info p {
  color: #666;
  font-size: 14px;
}


.quantidade {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}


.valor {
  font-size: 16px;
  font-weight: bold;
  color: #EB8832;
}

.btn-remover {
  background-color: #5FA783;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 13px;
  transition: .2s;
}
.btn-remover:hover{
  background-color: #21422c;
}