#botoes_lateral{
    display: flex;
    align-items: center;
    gap: 20px;
}
#carrinho{
    border-radius: 50px;
    border: none;
    width: 45px;
    height: 45px;
}
#carrinho img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
#carrinho:hover{
    background-color:#489A71;
    cursor: pointer;
}
#login{
    border: none;
    border-radius: 30px;
    background-color:#489A71;
    color: white;
    padding: 15px 40px 15px 40px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 40px;
}
#login:hover{
    background-color: white;
    color: #489A71;
    cursor: pointer;

}
#logo{
    margin: 20px;
}

#cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column; 
    background-color: #3A5D41; 
}

#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#branco{
    font-family: "League Gothic", sans-serif;
    font-size:80px;
    color:white;
}
#laranja{
    font-family: "League Gothic", sans-serif;
    font-size:80px;
    color: #EB8832;
}

#pesquisa > input{
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 10px 200px 10px 10px;
    width: 500px;

}
#pesquisa{
    display:flex;
    justify-content:center;
}
#lupa > img{
    width: 20px;
    height:20px;
    
}
#lupa{
    width: 60px;
    border: none;
    background-color: #489A71;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#lupa:hover{
    background-color: #3f8663;
}


#menu {
    display: flex;
    justify-content: center; 
    align-items: stretch;    
    background-color: #EB8832;
}

#menu a {
    flex: 1;                 
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 0;          
    border-right: white 1px solid;
    font-family: sans-serif;
}
#menu a:hover {
    background-color: #ca6a16;
    cursor: pointer;
}
#barra_pesquisa{
    padding-top: 30px;
}
